
/*body{background:url(image/background04.jpg) no-repeat 0 0;*/
    /*background-size:100% 100%;margin:auto;}*/



#header{width: 100%;}/*设置满屏宽度*/
/*设置顶部栏效果*/
#info{height: 30px;background-color:#CCC;text-align:right;padding-top:5px;}
#info a:hover{color:#FFF;}
#nav-search{padding:5px 0 0 0;height: 30px;background-color:#9CF;}
#nav{height: 30px;background-color:#9CF;float: left;}
/*设置字体样式*/
#nav a{font-size:14px;display:block; float:left; margin-left:20px; margin-top:6px;color:#fff;letter-spacing:0.2em;
    text-align:center;text-decoration:none;}
#nav a:hover{color:#d00;
    background:#fff;}
/*搜索框*/
#search{height: 30px;background-color:#9CF;float: right;}
/*系统名称效果*/
#logo{padding: 10px 0 0 0; text-align: center; height: 50px;background-color:#69C;font-size: 40px;font-family:"隶书";color:#FFC;}
/*系名称栏设置*/
#major{width:22%;height:500px;padding:25px 0 0 0;text-align:center;background-color:#EAEAEA;float:left;margin: auto;border: 3px         solid #cccccc;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;}
#major a{font-size:18px;color:#00C;}
#major a:hover{color:#F06;}
#major input{float:right;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;background:#FFC;}
/*设置按钮安放位置*/
#button1{width:60%;height:50px;padding:10px 0 0 50px;text-align:left;float:left;margin:auto;}
/* #button1 input{margin-left:50px;}*/
#button2{width:60%;height:50px;padding:10px 0 0 50px;text-align:left;float:left;margin:auto;border-top:2px solid #9FF;}
#button2 input{margin-left:50px;}
/*暂时放空的地方*/
#sth{width:60%;height:60px;padding:50px 0 20px 50px;text-align:left;float:left;margin:auto;}
#sth a{font-size:20px;font-family:Arial;}
/*放置时间选择框*/
#time{width:30%;height:250px;padding:10px 0 0 50px;text-align:left;float:left;margin:auto;}
#time1{width:20%;height:100px;padding:10px 0 0 50px;text-align:left;float:left;margin:auto;}
#form{padding:20px 0 0 0;margin:0px;font-size:14px;}

#write{margin-top: 10px;padding-left:100px;}
#write2{margin-top:30px;padding-left:100px;padding-top:20px;border-top:2px solid #C9F;}

/*表格位置设置*/
#main{width: 80%;margin-left:10%;}
#float-box{position: relative; width: 800px; min-height: 300px; margin: auto;border: 2px solid #cccccc;}